.found{
  background-color: rgba(53, 222, 59, 0.564);
}
.card:hover{
  border: 1px solid black;
}
.foldCover{
   background: linear-gradient(to right, #a3570a, #41b1d4);
}
.card-body{
  height: 30px !important;
}
