<div
  *ngIf="!isStarted"
  class="d-flex justify-content-center align-items-center h-100 flex-column"
>
  <h1>Start MemoryGame</h1>
  <button class="btn btn-success me-3 fw-bold mt-2" (click)="start()">
    start the game
  </button>
</div>
<div class="mainContainer h-100" *ngIf="isStarted">
  <div class="container">
    <h1 class="text-center mb-4">Memory game</h1>
    <div
      class="alert alert-primary fw-bold m-1 p-2"
      role="alert"
      *ngIf="winAlert"
    >
      Hai completato il Memory game con: {{ move }} mosse in {{ minute }}:{{
        second
      }}s
    </div>
    <div class="row row-cols-6 justify-content-center">
      <div
        class="col p-0 mb-2 me-2"
        *ngFor="let card of cardContainer"
        (click)="play(card)"
      >
        <div class="scene scene--card d-flex justify-content-center">
          <div class="card" [ngClass]="{ found: card.find, flip: card.flip }">
            <div
              class="card__face card__face--front d-flex justify-content-center align-items-center fw-bold"
            ></div>
            <div
              class="card__face card__face--back d-flex justify-content-center align-items-center"
              [ngClass]="{ found: card.find, flip: card.flip }"
            >
              {{ card.value }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal [backdrop]="'static'">
  <div class="modal-body text-center">
    <p>Inserisciti in classifica!</p>
    <div
      class="alert alert-primary fw-bold m-1 p-2"
      role="alert"
      *ngIf="winAlert"
    >
      Hai completato il Memory game con: {{ move }} mosse in {{ minute }}:{{
        second
      }}s
    </div>
  </div>
  <div
    class="modal-footer justify-content-center d-flex flex-column align-items-center"
  >
    <form
      class="row text-center alingn-center justify-content-center flex-column form-group"
      #regForm="ngForm"
    >
      <input
        type="text"
        class="col-4 mx-auto my-1 form-control"
        placeholder="username"
        name="username"
        ngModel
        required
        #username="ngModel"
        minlength="4"
        maxlength="8"
        [pattern]="usernameRegex"
      />
      <span
        *ngIf="username.invalid && username.touched"
        class="alert alert-danger col"
      >
        il campo username deve contenere almeno 4 caratteri e massimo 8.
      </span>
      <div
        *ngIf="usernameExist"
        class="alert alert-danger text-center fw-2"
        role="alert"
      >
        username già in classifica.
      </div>
    </form>
    <button
      type="button"
      class="col-3 mt-2 btn btn-success fw-bold"
      [disabled]="!regForm.valid"
      (click)="inviaDati(username.value)"
    >
      invia
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close()"
      (click)="reset()"
    >
      Gioca di nuovo
    </button>
  </div>
</ng-template>
