<div class="mainContainer h-100">
  <div class="container">
    <h1 class="text-center mb-4">Memory game</h1>
    <div
      class="alert alert-primary fw-bold m-1 p-2"
      role="alert"
      *ngIf="winAlert"
    >
      Hai completato il Memory game con: {{ move }} mosse in {{ minute }}:{{
        second
      }}s
    </div>
    <div class="row row-cols-6 justify-content-center">
      <div
        class="col p-0 mb-2 me-2"
        *ngFor="let card of cardContainer"
        (click)="play(card)"
      >
        <div class="scene scene--card d-flex justify-content-center">
          <div class="card" [ngClass]="{ found: card.find, flip: card.flip }">
            <div
              class="card__face card__face--front d-flex justify-content-center align-items-center fw-bold"
            ></div>
            <div
              class="card__face card__face--back d-flex justify-content-center align-items-center"
              [ngClass]="{ found: card.find, flip: card.flip }"
            >
              {{ card.value }}
            </div>
          </div>
        </div>
        <!-- <div class="card" style="width: 18rem">
        <div class="card-body p-0" [ngClass]="{ found: card.find }">
          <h5 class="card-title text-center p-0 m-0" *ngIf="!card.fold">
            {{ card.value }}
          </h5>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>
